@page
@using Microsoft.AspNetCore.Components
@model PUBGCustomStats.Web.Pages.MatchModel
@{
    ViewData["Title"] = Model.Match?.MatchNameOrDefault();
}


<h4>Match Timeline</h4>

@if (!string.IsNullOrEmpty(Model.Match?.MatchDescription))
{
    <p>
        @Html.Raw(MatchHelpers.FormatDescription(Model.Match.MatchDescription))
    </p>
}

<p>Mode: @Model.Match?.GameMode</p>


<p>Map: @Model.Match?.Map</p>

@if (Model.Match?.NoFireUntilPhase.HasValue == true)
{
    <p>
        No Firing until Phase: @Model.Match?.NoFireUntilPhase
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Weather))
{
    <p>
        Weather: @MatchHelpers.FixWeather(Model.Match.Weather)
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Perspective))
{
    <p>
        Perspective: @Model.Match.Perspective
    </p>
}

@if (Model.MatchTimeline != null && Model.MatchTimeline.Any())
{
    <Table class="table table-hover table-bordered">
        @{
            var firstEvent = Model.MatchTimeline.First().EventTimestamp;

            var matchEnded = false;
            foreach (var evt in Model.MatchTimeline.OrderBy(e => e.EventTimestamp))
            {
                var timeStamp = (evt.EventTimestamp - firstEvent);
                var descripion = "";
                bool skip = false;

                switch (evt.EventType)
                {
                    case "LogMatchStart":
                        descripion = "🏳️ Match Start";

                        break;

                    case "LogPhaseChange":
                        switch (evt?.IsGame)
                        {
                            case 0.0m:
                                descripion = "⌚ Waiting for Players";
                                break;
                            case 0.1m:
                                descripion = "🛫 On Plane";
                                break;
                            case 0.5m:
                                descripion = "🏳️ Starting";
                                break;
                            case 1:
                            case 2:
                            case 3:
                            case 4:
                            case 5:
                            case 6:
                            case 7:
                            case 8:
                            case 9:
                            case 10:
                                descripion = "🔵 Phase #" + evt.Phase + " Blue Zone shrinking";
                                break;
                            case 1.5m:
                            case 2.5m:
                            case 3.5m:
                            case 4.5m:
                            case 5.5m:
                            case 6.5m:
                            case 7.5m:
                            case 8.5m:
                            case 9.5m:
                            case 10.5m:
                                descripion = "🔵 Phase #" + evt.Phase + " starts";
                                if (Model.Match != null)
                                {
                                    if (Model.Match.NoFireUntilPhase.HasValue && Model.Match.NoFireUntilPhase == evt.Phase)
                                    {
                                        descripion += ". Commence firing.";
                                    }
                                }
                                break;
                            default:
                                descripion = "❓ Unknown";
                                break;
                        }

                        break;

                    case "LogPlayerKillV2":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot kills
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " killed by " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " from " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer?.PlayerName);
                            }
                        }
                        else
                        {
                            // Ignore bot only evens
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {

                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " died from " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon) && evt.Weapon != "None")
                        {
                            var weapon = MatchHelpers.GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {

                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "Bluezonebomb_EffectActor_Subzero_C":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    if (player.PlayerIsNPC.GetValueOrDefault())
                                    {
                                        playerList += MatchHelpers.GetNPCName(player.PlayerAccountId);
                                    }
                                    else
                                    {
                                        playerList += player.PlayerAccountId;
                                    }
                                }
                            }

                            descripion += ". Assist from " + playerList;
                        }

                        if (evt.IndividualRanking != null && evt.IndividualRanking > 0)
                        {
                            descripion += ". Individual ranking " + MatchHelpers.GetRanking(evt.IndividualRanking.Value);
                        }

                        break;

                    case "LogPlayerMakeGroggy":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.PlayerGuid == evt.SecondaryPlayerGuid)
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked themself by " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                                else
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked by " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " from " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer?.PlayerName);
                                }
                            }
                        }
                        else
                        {
                            // Ignore bot only events
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked by " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon))
                        {
                            var weapon = MatchHelpers.GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {
                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee, or throwable
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }

                        /*
                        if (evt.DBNOId.HasValue)
                        {
                            descripion += " (Knock #" + evt.DBNOId.Value + ")";
                            }
                        */
                        break;

                    case "LogPlayerRevive":
                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot revives
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayerAccountId == evt.PlayerAccountId)
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " self revived";
                                }
                                else
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " revived by " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer?.PlayerName);
                                }
                            }
                        }
                        else
                        {
                            descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? MatchHelpers.GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " revived";
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogPlayerUseFlareGun":
                        descripion = "🎆 " + evt.Player?.PlayerName + " used Flare Gun";

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogMatchEnd":
                        descripion = "🏁 Match Ended.";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Winner(s) " + playerList + ".";
                        }

                        matchEnded = true;
                        break;

                    case "LogWheelDestroy":
                        var wheel = "Wheel";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            wheel = MatchHelpers.GetWeaponDescription(evt.Vehicle) + " " + wheel;
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + MatchHelpers.GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player?.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogVehicleDestroy":
                        var vehicle = "Vehicle";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            vehicle = MatchHelpers.GetWeaponDescription(evt.Vehicle);
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + MatchHelpers.GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + MatchHelpers.GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player?.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogEmPickupLiftOff":
                        if (evt.PlayerGuid == null)
                        {
                            descripion = "🛫 Emergency Pickup Called";
                        }
                        else
                        {
                            descripion = "🛫 " + evt.Player?.PlayerName + " called Emergency Pickup";
                        }
                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Carrying " + playerList + ".";
                        }
                        break;

                    case "LogCharacterCarry":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            switch (evt.Status)
                            {
                                case "BodyCarry_Start_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " started carrying player";
                                    break;
                                case "BodyCarry_Start_Carried":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " is being carried";
                                    break;
                                case "BodyCarry_End_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " stopped carrying player";
                                    break;
                                case "BodyCarry_End_Carried":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " is no longer being carried";
                                    break;
                                case "BodyCarry_Died_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " carrier died";
                                    break;
                                default:
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " carrying player/being carried";
                                    break;
                            }
                        }

                        break;

                    case "LogCarePackageSpawn":
                        descripion = "📦 ";
                        if (evt.DamageCategory != null)
                        {
                            descripion += MatchHelpers.GetCarePackageDescription(evt.DamageCategory);
                        }
                        descripion += " Care Package Dropping";
                        if (evt.Weapon != null)
                        {
                            descripion += ". Containing " + MatchHelpers.GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogCarePackageLand":
                        descripion = "📦 ";
                        if (evt.DamageCategory != null)
                        {
                            descripion += MatchHelpers.GetCarePackageDescription(evt.DamageCategory);
                        }
                        descripion += " Care Package Landed";
                        if (evt.Weapon != null)
                        {
                            descripion += ". Containing " + MatchHelpers.GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogRedZoneEnded":
                        descripion = "🔴 Red Zone Ended";
                        break;

                    case "LogBlackZoneEnded":
                        descripion = "🟣 Black Zone Ended";
                        break;

                    case "LogPlayerRedeploy":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " redeployed";
                        }
                        break;

                    case "LogPlayerRedeployBRStart":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " started redeploy";
                        }
                        break;

                    case "LogParachuteLanding":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " landed";
                            if (!string.IsNullOrEmpty(evt.Zone))
                            {
                                descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);

                            }
                            descripion += " (Parachuted " + evt.Distance?.ToString("N0") + "m)";
                        }
                        break;

                    case "LogPlayerDestroyBreachableWall":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🧱 " + evt.Player?.PlayerName + " destroyed wall";
                            descripion += " with " + MatchHelpers.GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogVehicleLeave":
                        switch (evt.Vehicle)
                        {
                            case "BP_EmergencyPickupVehicle_C":
                                descripion = "🛬 " + evt.Player?.PlayerName + " jumped from Emergency Pickup";
                                break;

                            case "RedeployAircraft_Tiger_C":
                                descripion = "🛬 " + evt.Player?.PlayerName + " jumped from Redeploy Aircraft";
                                break;

                            default:
                                skip = true;
                                break;
                        }
                        break;

                    case "LogItemUse":
                        switch (evt.Weapon)
                        {
                            case "Item_BTSecretRoom_Key_C": // Erangal - Secreate Basement Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Secret Basement Key";
                                break;

                            case "Item_Tiger_Key_C": // Taego - Secret Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Secret Key";
                                break;

                            case "Item_DihorOtok_Key_C": // Vikendi - Security Key
                            case "Item_Secuity_Keycard_C": // Deston - Security Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Security Key";
                                break;

                            case "Item_Bluechip_C":
                                descripion = "🗼 " + evt.Player?.PlayerName + " used Blue Chip Tower";
                                break;
                            default:
                                skip = true;
                                break;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone) && !skip)
                        {
                            descripion += " in " + MatchHelpers.GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";
                        break;

                    case "LogObjectInteraction":
                        switch (evt.DamageCategory)
                        {
                            case "VendingMachine":
                                descripion = "🎰 " + evt.Player?.PlayerName + " used Vending Machine. Returned " + MatchHelpers.GetWeaponDescription(evt.Weapon);
                                break;
                            case "FuelPuddle":
                                switch (evt.DamageReason)
                                {
                                    case "Ignite":
                                        descripion = "⛽ " + evt.Player?.PlayerName + " ignited Fuel Puddle";
                                        break;
                                    default:
                                        descripion = "⛽ " + evt.Player?.PlayerName + " " + evt.DamageReason + " Fuel Puddle";
                                        break;
                                }

                                break;
                            default:
                                skip = true;
                                break;
                        }
                        break;
                    case "LogPlayerAttack":
                        // emp, unil NoFireUntilPhase has been reached.
                        skip = true;
                        //descripion = evt.Player.PlayerName + " attacked with " + evt.Weapon;
                        break;

                    case "LogPlayerTakeDamage":
                        // emp, unil NoFireUntilPhase has been reached.
                        if (Model.Match?.NoFireUntilPhase == null)
                        {
                            // Skip when no fire period not set
                            skip = true;
                        }
                        else
                        {
                            if (evt.IsGame >= Model.Match.NoFireUntilPhase)
                            {
                                // Skip when phase has passed
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayer != null)
                                {
                                    if (evt.SecondaryPlayerGuid == evt.PlayerGuid)
                                    {
                                        skip = true; // Skip self inflicted
                                    }
                                    else
                                    {
                                        descripion = "🚷 " + evt.Player?.PlayerName + " took damage from " + MatchHelpers.GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " by " + evt.SecondaryPlayer.PlayerName;
                                    }
                                }
                                else
                                {
                                    skip = true; // Skip environmental/blue zone/crash
                                    //descripion = evt.Player.PlayerName + " took damage from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                            }
                        }
                        break;

                    case "LogPlayerLogout":
                        if (!matchEnded)
                        {
                            if (evt.Player != null)
                            {
                                descripion = "🚪 " + evt.Player?.PlayerName + " logged out.";
                            } 
                            else 
                            {
                                descripion = "🚪 Unknown Player logged out.";
                            }    
                        } 
                        else 
                        {
                            skip = true;
                        }

                        break;

                    case "LogPlayerUseThrowable":

                        switch (evt.Weapon)
                        {
                            case "Item_Weapon_PackageFlare_C":
                                descripion = "🎆 "+ evt.Player?.PlayerName + " used Package Flare";
                                break;
                            case "Item_Weapon_CoverStructDropHandFlare_C":
                                descripion = "🎆 "+ evt.Player?.PlayerName + " used Cover Flare";
                                break;
                            default:
                                skip = true;
                                break;
                        }
                        break;                    

                    default:
                        skip = true;
                        break;
                }

                if (!skip)
                {
                    <tr>
                        <td>@timeStamp.ToString("mm':'ss'.'ff")</td>
                        <td> @descripion</td>
                    </tr>
                }
            }
        }
    </Table>
}
else
{
    <p>Sorry, no match events available</p>
}

