@page
@using Microsoft.AspNetCore.Components
@model PUBGCustomStats.Web.Pages.MatchModel
@{
    ViewData["Title"] = Model.Match?.MatchNameOrDefault();
}


<h4>Match Timeline</h4>

@if (!string.IsNullOrEmpty(Model.Match?.MatchDescription))
{
    <p>
        @Html.Raw(FormatDescription(Model.Match.MatchDescription))
    </p>
}

<p>Mode: @Model.Match?.GameMode</p>


<p>Map: @Model.Match?.Map</p>

@if (Model.Match?.NoFireUntilPhase.HasValue == true)
{
    <p>
        No Firing until Phase: @Model.Match?.NoFireUntilPhase
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Weather))
{
    <p>
        Weather: @FixWeather(Model.Match.Weather)
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Perspective))
{
    <p>
        Perspective: @Model.Match.Perspective
    </p>
}

@if (Model.MatchTimeline != null && Model.MatchTimeline.Any())
{
    <Table class="table table-hover table-bordered">
        @{
            var firstEvent = Model.MatchTimeline.First().EventTimestamp;

            foreach (var evt in Model.MatchTimeline.OrderBy(e => e.EventTimestamp))
            {
                var timeStamp = (evt.EventTimestamp - firstEvent);
                var descripion = "";
                bool skip = false;

                switch (evt.EventType)
                {
                    case "LogMatchStart":
                        descripion = "🏳️ Match Start";

                        break;

                    case "LogPhaseChange":
                        switch (evt.IsGame.Value)
                        {
                            case 0.0m:
                                descripion = "⌚ Waiting for Players";
                                break;
                            case 0.1m:
                                descripion = "🛫 On Plane";
                                break;
                            case 0.5m:
                                descripion = "🏳️ Starting";
                                break;
                            case 1:
                            case 2:
                            case 3:
                            case 4:
                            case 5:
                            case 6:
                            case 7:
                            case 8:
                            case 9:
                            case 10:
                                descripion = "🔵 Phase #" + evt.Phase + " Blue Zone shrinking";
                                break;
                            case 1.5m:
                            case 2.5m:
                            case 3.5m:
                            case 4.5m:
                            case 5.5m:
                            case 6.5m:
                            case 7.5m:
                            case 8.5m:
                            case 9.5m:
                            case 10.5m:
                                descripion = "🔵 Phase #" + evt.Phase + " starts";

                                if (Model.Match.NoFireUntilPhase.HasValue && Model.Match.NoFireUntilPhase == evt.Phase)
                                {
                                    descripion += ". Commence firing.";
                                }
                                break;
                            default:
                                descripion = "❓ Unknown";
                                break;
                        }

                        break;

                    case "LogPlayerKillV2":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot kills
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " killed by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " from " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer.PlayerName);
                            }
                        }
                        else
                        {
                            // Ignore bot only evens
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {

                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " died from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon) && evt.Weapon != "None")
                        {
                            var weapon = GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {

                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "Bluezonebomb_EffectActor_Subzero_C":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    if (player.PlayerIsNPC.GetValueOrDefault())
                                    {
                                        playerList += GetNPCName(player.PlayerAccountId);
                                    }
                                    else
                                    {
                                        playerList += player.PlayerAccountId;
                                    }
                                }
                            }

                            descripion += ". Assist from " + playerList;
                        }

                        if (evt.IndividualRanking != null && evt.IndividualRanking > 0)
                        {
                            descripion += ". Individual ranking " + GetRanking(evt.IndividualRanking.Value);
                        }

                        break;

                    case "LogPlayerMakeGroggy":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.PlayerGuid == evt.SecondaryPlayerGuid)
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " knocked themself by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                                else
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " knocked by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " from " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer.PlayerName);
                                }
                            }
                        }
                        else
                        {
                            // Ignore bot only events
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " knocked by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon))
                        {
                            var weapon = GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {
                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee, or throwable
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }

                        /*
                        if (evt.DBNOId.HasValue)
                        {
                            descripion += " (Knock #" + evt.DBNOId.Value + ")";
                            }
                        */
                        break;

                    case "LogPlayerRevive":
                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot revives
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayerAccountId == evt.PlayerAccountId)
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " self revived";
                                }
                                else
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " revived by " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer.PlayerName);
                                }
                            }
                        }
                        else
                        {
                            descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player.PlayerName) + " revived";
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogPlayerUseFlareGun":
                        descripion = "🎆 " + evt.Player.PlayerName + " used Flare Gun";

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogMatchEnd":
                        descripion = "🏁 Match Ended.";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Winner(s) " + playerList + ".";
                        }
                        break;

                    case "LogWheelDestroy":
                        var wheel = "Wheel";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            wheel = GetWeaponDescription(evt.Vehicle) + " " + wheel;
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogVehicleDestroy":
                        var vehicle = "Vehicle";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            vehicle = GetWeaponDescription(evt.Vehicle);
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogEmPickupLiftOff":
                        if (evt.PlayerGuid == null)
                        {
                            descripion = "🛫 Emergency Pickup Called";
                        }
                        else
                        {
                            descripion = "🛫 " + evt.Player.PlayerName + " called Emergency Pickup";
                        }
                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Carrying " + playerList + ".";
                        }
                        break;

                    case "LogCharacterCarry":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            switch (evt.Status)
                            {
                                case "BodyCarry_Start_Carrier":
                                    descripion = "🏋️ " + evt.Player.PlayerName + " started carrying player";
                                    break;
                                case "BodyCarry_Start_Carried":
                                    descripion = "🏋️ " + evt.Player.PlayerName + " is being carried";
                                    break;
                                case "BodyCarry_End_Carrier":
                                    descripion = "🏋️ " + evt.Player.PlayerName + " stopped carrying player";
                                    break;
                                case "BodyCarry_End_Carried":
                                    descripion = "🏋️ " + evt.Player.PlayerName + " is no longer being carried";
                                    break;
                                case "BodyCarry_Died_Carrier":
                                    descripion = "🏋️ " + evt.Player.PlayerName + " carrier died";
                                    break;
                                default:
                                    descripion = "🏋️ " + evt.Player.PlayerName + " carrying player/being carried";
                                    break;
                            }
                        }

                        break;

                    case "LogCarePackageSpawn":
                        descripion = "📦 Care Package Dropping";
                        break;

                    case "LogCarePackageLand":
                        descripion = "📦 Care Package Landed";
                        break;

                    case "LogRedZoneEnded":
                        descripion = "🔴 Red Zone Ended";
                        break;

                    case "LogBlackZoneEnded":
                        descripion = "🟣 Black Zone Ended";
                        break;

                    case "LogPlayerRedeploy":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player.PlayerName + " redeployed";
                        }
                        break;

                    case "LogPlayerRedeployBRStart":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player.PlayerName + " started redeploy";
                        }
                        break;

                    case "LogParachuteLanding":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player.PlayerName + " landed";
                            if (!string.IsNullOrEmpty(evt.Zone))
                            {
                                descripion += " in " + GetZoneDescription(evt.Zone);

                            }
                            descripion += " (Parachuted " + evt.Distance.Value.ToString("N0") + "m)";
                        }
                        break;

                    case "LogPlayerDestroyBreachableWall":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🧱 " + evt.Player.PlayerName + " destroyed wall";
                            descripion += " with " + GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogVehicleLeave":
                        switch (evt.Vehicle)
                        {
                            case "BP_EmergencyPickupVehicle_C":
                                descripion = "🛬 " + evt.Player.PlayerName + " jumped from Emergency Pickup";
                                break;

                            case "RedeployAircraft_Tiger_C":
                                descripion = "🛬 " + evt.Player.PlayerName + " jumped from Redeploy Aircraft";
                                break;

                            default:
                                skip = true;
                                break;
                        }
                        break;

                    case "LogItemUse":
                        switch (evt.Weapon)
                        {
                            case "Item_BTSecretRoom_Key_C": // Erangal - Secreate Basement Key
                                descripion = "🔑 " + evt.Player.PlayerName + " used Secret Basement Key";
                                break;

                            case "Item_Tiger_Key_C": // Taego - Secret Key
                                descripion = "🔑 " + evt.Player.PlayerName + " used Secret Key";
                                break;

                            case "Item_DihorOtok_Key_C": // Vikendi - Security Key
                            case "Item_Secuity_Keycard_C": // Deston - Security Key
                                descripion = "🔑 " + evt.Player.PlayerName + " used Security Key";
                                break;

                            case "Item_Bluechip_C":
                                descripion = "🗼 " + evt.Player.PlayerName + " used Blue Chip Tower";
                                break;
                            default:
                                skip = true;
                                break;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone) && !skip)
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";
                        break;

                    case "LogObjectInteraction":
                        switch (evt.DamageCategory)
                        {
                            case "VendingMachine":
                                descripion = "🎰 " + evt.Player.PlayerName + " used Vending Machine. Returned " + GetWeaponDescription(evt.Weapon);
                                break;
                            case "FuelPuddle":
                                switch (evt.DamageReason)
                                {
                                    case "Ignite":
                                        descripion = "⛽ " + evt.Player.PlayerName + " ignited Fuel Puddle";
                                        break;
                                    default:
                                        descripion = "⛽ " + evt.Player.PlayerName + " " + evt.DamageReason + " Fuel Puddle";
                                        break;
                                }

                                break;
                            default:
                                skip = true;
                                break;
                        }
                        break;
                    case "LogPlayerAttack":
                        // emp, unil NoFireUntilPhase has been reached.
                        skip = true;
                        //descripion = evt.Player.PlayerName + " attacked with " + evt.Weapon;
                        break;

                    case "LogPlayerTakeDamage":
                        // emp, unil NoFireUntilPhase has been reached.
                        if (!Model.Match.NoFireUntilPhase.HasValue)
                        {
                            // Skip when no fire period not set
                            skip = true;
                        }
                        else
                        {
                            if (evt.IsGame >= Model.Match.NoFireUntilPhase)
                            {
                                // Skip when phase has passed
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayer != null)
                                {
                                    if (evt.SecondaryPlayerGuid == evt.PlayerGuid)
                                    {
                                        skip = true; // Skip self inflicted
                                    }
                                    else
                                    {
                                        descripion = "🚷 " + evt.Player.PlayerName + " took damage from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " by " + evt.SecondaryPlayer.PlayerName;
                                    }
                                }
                                else
                                {
                                    skip = true; // Skip environmental/blue zone/crash
                                    //descripion = evt.Player.PlayerName + " took damage from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                            }
                        }
                        break;
                    default:
                        skip = true;
                        break;
                }

                if (!skip)
                {
                    <tr>
                        <td>@timeStamp.ToString("mm':'ss'.'ff")</td>
                        <td> @descripion</td>
                    </tr>
                }
            }
        }
    </Table>
}
else
{
    <p>Sorry, no match events available</p>
}




@functions {
    public string GetNPCName(string playerAccounId)
    {
        if (playerAccounId.StartsWith("Guard.ai"))
        {
            return "GUARD";
        }
        if (playerAccounId.StartsWith("Commander.ai"))
        {
            return "Commander";
        }
        if (playerAccounId.StartsWith("ai"))
        {
            return "BOT";
        }
        if (playerAccounId.StartsWith("Monster.Bear"))
        {
            return "BEAR";
        }
        return playerAccounId;
    }

    public string GetDamageDescription(string damageCategory, string damageReason)
    {
        switch (damageCategory)
        {
            case "Damage_BlueZone":
                return "Blue Zone";
            case "Damage_DropStructHit":
                return "Drop Structure";
            case "Damage_CarePackageDropHit":
                return "Care Package Drop";
            case "Damage_Drown":
                return "Drowning";
            case "Damage_Explosion_C4":
                return "C4";
            case "Damage_Explosion_Grenade":
                return "Grenade";
            case "Damage_Explosion_JerryCan":
                return "Jerry Can";
            case "Damage_Explosion_Mortar":
                return "Mortar";
            case "Damage_Explosion_PanzerFaustBackBlast":
                return "Panzer Back Blast";
            case "Damage_Explosion_PanzerFaustWarhead":
                return "Panzer";
            case "Damage_Explosion_PanzerFaustWarheadVehicleArmorPenetration":
                return "Panzer Vehicle Penetration";
            case "Damage_Explosion_RedZone":
                return "Red Zone";
            case "Damage_Explosion_BlackZone":
                return "Black Zone";
            case "Damage_Explosion_StickyBomb":
                return "Sticky Bomb";
            case "Damage_Explosion_Vehicle":
                return "Vehicle Explosion";
            case "Damage_Explosion_GasPump":
                return "Gas Pump Explosion";

            case "Damage_Gun_Penetrate_BRDM":
            case "Damage_Gun":
                return FormatDamageReason(damageReason);
            case "Damage_Instant_Fall":
                return "Fall";
            case "Damage_Lava":
                return "Lava";

            case "Damage_Melee":
                return "Melee to " + SimplifyDamageReason(damageReason);
            case "Damage_MeleeThrow":
                return "Melee Throw to " + SimplifyDamageReason(damageReason);
            case "Damage_Molotov":
                return "Molotov";
            case "Damage_Monster":
                return "Monster";
            case "Damage_Punch":
                return SimplifyDamageReason(damageReason) + " Punch";
            case "Damage_VehicleCrashHit":
                return "Vehicle Crash";
            case "Damage_VehicleHit":
                return "Vehicle";
            /* return damageReason;*/
            case "Damage_HelicopterHit":
                return "Helicopter";
            case "Damage_Groggy":
            case "Damage_DBNO":
                return "Bleeding out";
            case "Damage_BlueZoneGrenade":
                return "BZ Grenade";
            default:
                return damageCategory + " " + damageReason;
        }
    }

    public string FormatDamageReason(string damageReason)
    {
        switch (damageReason)
        {
            case "ArmShot":
                return "Arm Shot";
            case "HeadShot":
                return "Head Shot";
            case "LegShot":
                return "Leg Shot";
            case "PelvisShot":
                return "Pelvis Shot";
            case "TorsoShot":
                return "Torso Shot";
            default:
                return damageReason;
        }
    }

    public string SimplifyDamageReason(string damageReason)
    {
        switch (damageReason)
        {
            case "ArmShot":
                return "Arm";
            case "HeadShot":
                return "Head";
            case "LegShot":
                return "Leg";
            case "PelvisShot":
                return "Pelvis";
            case "TorsoShot":
                return "Torso";
            case "None":
                return "";
            default:
                return damageReason;
        }
    }

    public string GetWeaponDescription(string damageCategory, string damageReason)
    {
        switch (damageCategory)
        {
            case "Damage_DropStructHit":
                return "Structure Drop";
            case "Damage_CarePackageDropHit":
                return "Care Package Drop";
            case "Damage_Explosion_GasPump":
                return "Gas Pump Explosion";
            case "Damage_Explosion_Mortar":
                return "Mortar";
            case "Damage_Explosion_PanzerFaustWarheadVehicleArmorPenetration":
            case "Damage_Explosion_PanzerFaustWarhead":
                return "Panzer";
            case "Damage_Explosion_RedZone":
                return "Red Zone";
            case "Damage_Lava":
                return "Lava";
            case "Damage_Monster":
                return "Bear";
            case "Damage_Punch":
                return "Punch";
            case "Damage_Explosion_C4":
            case "WeapC4_C":
                return "C4";
            case "Damage_Explosion_Grenade":
                return "Grenade";
            case "Damage_Explosion_StickyBomb":
                return "Sticky Bomb";
            case "Damage_Instant_Fall":
                return "Fall";
            case "Damage_VehicleCrashHit":
                return "Crash";
            case "Damage_Gun":
            case "Damage_Gun_Penetrate_BRDM":
            case "Damage_Melee":
                return GetWeaponDescription(damageReason);
            default:
                return damageCategory + " " + damageReason;
        }
    }

    public string GetWeaponDescription(string weapon)
    {
        // Remove anhing afer _C
        if (weapon != null && weapon.Contains("_C_"))
        {
            weapon = weapon.Substring(0, weapon.IndexOf("_C_") + 2);
        }

        // Lookup weapon from: https://github.com/pubg/api-assets/blob/master/dictionaries/telemetry/damageCauserName.json
        // Lookup vehicle from: https://github.com/pubg/api-assets/blob/master/dictionaries/telemetry/vehicle/vehicleId.json
        switch (weapon)
        {
            case "WeapAKM_C":
                return "AKM";
            case "WeapM416_C":
                return "M416";
            case "WeapSLR_C":
                return "SLR";
            case "LMG6":
                return "LMG6";
            case "TslGameModeBase_BattleRoyale_CustomBP_C":
            case "TslGameModeBase_BattleRoyaleBP_C":
                return "Blue Zone";
            case "WeapGrenade_C":
                return "Grenade";
            case "Item_Weapon_StickyGrenade_C":
                return "Sticky Bomb";
            case "Uaz_C":
                return "Uaz";
            case "WeapFamasG2_C":
                return "FAMAS";
            case "WeapSmokeBomb_C":
                return "Smoke Bomb";
            case "WeapMolotov_C":
                return "Molotov";








            case "AIPawn_Base_Female_C":
            case "AIPawn_Base_Male_C":
                return "AI Player";
            case "AirBoat_V2_C":
                return "Airboat";
            case "AquaRail_A_01_C":
            case "AquaRail_A_02_C":
            case "AquaRail_A_03_C":
                return "Aquarail";
            case "BP_ATV_C":
                return "Quad";
            case "BP_BearV2_C":
                return "Bear";
            case "BP_BRDM_C":
                return "BRDM-2";
            case "BP_Bicycle_C":
            case "BP_Bicycle_Succubus_C":
                return "Bicycle";
            case "BP_Blanc_C":
            case "BP_Blanc_Esports_C":
                return "Coupe SUV";
            case "BP_Carrera_LGD_C":
                return "Carrera";
            case "BP_Cayenne_EP_C":
                return "Cayenne";
            case "BP_Chiron_ULT_C":
            case "BP_Chiron_LGD_C":
                return "Chiron";
            case "BP_Classic_01_C":
                return "Classic Car";
            case "BP_CoupeRB_C":
                return "Coupe RB";
            case "BP_DO_Circle_Train_Merged_C":
            case "BP_DO_Line_Train_Dino_Merged_C":
            case "BP_DO_Line_Train_Merged_C":
                return "Train";
            case "BP_Dirtbike_C":
                return "Dirt Bike";
            case "BP_DronePackage_Projectile_C":
                return "Drone";
            case "BP_Urus_EP_C":
                return "Lamborghini";
            case "BP_Eragel_CargoShip01_C":
                return "Ferry Damage";
            case "BP_FakeLootProj_AmmoBox_C":
            case "BP_FakeLootProj_MilitaryCrate_C":
                return "Loot Truck";
            case "BP_FireEffectController_C":
                return "Molotov Fire";
            case "BP_FireEffectController_JerryCan_C":
                return "Jerrycan Fire";
            case "BP_Food_Truck_C":
                return "Food Truck";
            case "BP_Helicopter_C":
                return "Pillar Scout Helicopter";
            case "BP_IncendiaryDebuff_C":
            case "BP_JerryCanFireDebuff_C":
            case "BP_JerryCan_FuelPuddle_C":
                return "Burn";
            case "BP_KillTruck_C":
                return "Kill Truck";
            case "BP_LootTruck_C":
                return "Loot Truck";
            case "BP_M_Rony_A_01_C":
            case "BP_M_Rony_A_02_C":
            case "BP_M_Rony_A_03_C":
                return "Rony";
            case "BP_McLarenGT_St_white_C":
                return "McLaren";
            case "BP_Mirado_A_02_C":
            case "BP_Mirado_A_03_C":
            case "BP_Mirado_A_03_Esports_C":
                return "Mirado";
            case "BP_Mirado_Open_03_C":
            case "BP_Mirado_Open_04_C":
            case "BP_Mirado_Open_05_C":
                return "Mirado (open top)";
            case "BP_MolotovFireDebuff_C":
                return "Molotov Fire Damage";
            case "BP_Motorbike_04_C":
            case "BP_Motorbike_04_Desert_C":
                return "Motorcycle";
            case "BP_Motorbike_04_SideCar_C":
            case "BP_Motorbike_04_SideCar_Desert_C":
                return "Motorcycle (w/ Sidecar)";
            case "BP_Motorbike_Solitario_C":
                return "Motorcycle";
            case "BP_Motorglider_C":
            case "BP_Motorglider_Green_C":
            case "BP_Motorglider_Orange_C":
                return "Motor Glider";
            case "BP_Niva_01_C":
            case "BP_Niva_02_C":
            case "BP_Niva_03_C":
            case "BP_Niva_04_C":
            case "BP_Niva_05_C":
            case "BP_Niva_06_C":
            case "BP_Niva_07_C":
            case "BP_Niva_Esports_C":
                return "Zima";
            case "BP_PickupTruck_A_01_C":
            case "BP_PickupTruck_A_02_C":
            case "BP_PickupTruck_A_03_C":
            case "BP_PickupTruck_A_04_C":
            case "BP_PickupTruck_A_05_C":
            case "BP_PickupTruck_A_esports_C": // Closed op
            case "BP_PickupTruck_B_01_C":
            case "BP_PickupTruck_B_02_C":
            case "BP_PickupTruck_B_03_C":
            case "BP_PickupTruck_B_04_C":
            case "BP_PickupTruck_B_05_C": //Open op
                return "Pickup Truck";
            case "BP_PicoBus_C":
                return "Pico Bus";
            case "BP_Pillar_Car_C": return "Pillar Security Car";
            case "BP_Panamera_ULT_C": return "Porche";
            case "BP_PonyCoupe_C": return "Pony Coupe";
            case "BP_Porter_C": return "Porter";
            case "BP_RoadGlideST_LGD_C": return "Harley-Davidson";
            case "BP_Rubber_boat_C": return "Inflatable Boat";
            case "BP_Scooter_01_A_C":
            case "BP_Scooter_02_A_C":
            case "BP_Scooter_03_A_C":
            case "BP_Scooter_04_A_C":
                return "Scooter";
            case "BP_Snowbike_01_C":
            case "BP_Snowbike_02_C":
                return "Snowbike";
            case "BP_Snowmobile_01_C":
            case "BP_Snowmobile_02_C":
            case "BP_Snowmobile_03_C":
                return "Snowmobile";
            case "BP_Spiketrap_C":
                return "Spike Trap";
            case "BP_Special_FbrBike_C":
                return "Special FBR Bike";
            case "BP_TslGasPump_C":
                return "Gas Pump";
            case "BP_TukTukTuk_A_01_C":
            case "BP_TukTukTuk_A_02_C":
            case "BP_TukTukTuk_A_03_C":
                return "Tukshai";
            case "BP_Van_A_01_C":
            case "BP_Van_A_02_C":
            case "BP_Van_A_03_C":
                return "Van";
            case "BP_Vantage_EP_C":
                return "Vantage";
            case "BattleRoyaleModeController_Chimera_C":
            case "BattleRoyaleModeController_Def_C":
            case "BattleRoyaleModeController_Desert_C":
            case "BattleRoyaleModeController_DihorOtok_C":
            case "BattleRoyaleModeController_Heaven_C":
            case "BattleRoyaleModeController_Kiki_C":
            case "BattleRoyaleModeController_Savage_C":
            case "BattleRoyaleModeController_Summerland_C":
            case "BattleRoyaleModeController_Tiger_C":
                return "Bluezone";
            case "BlackZoneController_Def_C":
                return "Blackzone";
            case "Bluezonebomb_EffectActor_C":
                return "Bluezone Grenade";
            case "Boat_PG117_C":
                return "PG-117";
            case "Buff_DecreaseBreathInApnea_C":
                return "Drowning";
            case "Buggy_A_01_C":
            case "Buggy_A_02_C":
            case "Buggy_A_03_C":
            case "Buggy_A_04_C":
            case "Buggy_A_05_C":
            case "Buggy_A_06_C":
                return "Buggy";
            case "Carepackage_Container_C":
                return "Care Package";
            case "Dacia_A_01_v2_C":
            case "Dacia_A_01_v2_snow_C":
            case "Dacia_A_02_v2_C":
            case "Dacia_A_03_v2_C":
            case "Dacia_A_03_v2_Esports_C":
            case "Dacia_A_04_v2_C":
                return "Dacia";
            case "DroppedItemGroup":
                return "Object Fragments";
            case "EmergencyAircraft_Tiger_C":
                return "Emergency Aircraft";
            case "Jerrycan":
                return "Jerrycan";
            case "JerrycanFire":
                return "Jerrycan Fire";
            case "Lava":
                return "Lava";
            case "Mortar_Projectile_C":
                return "Mortar";
            case "None":
                return "None";
            case "PG117_A_01_C":
                return "PG-117";
            case "PanzerFaust100M_Projectile_C":
                return "Panzerfaust";
            case "PlayerFemale_A_C":
            case "PlayerMale_A_C":
                return "Player";
            case "ProjC4_C":
                return "C4";
            case "ProjGrenade_C":
                return "Frag Grenade";
            case "ProjIncendiary_C":
                return "Incendiary Projectile";
            case "ProjMolotov_C":
                return "Molotov Cocktail";
            case "ProjMolotov_DamageField_Direct_C":
                return "Molotov Cocktail Fire Field";
            case "ProjStickyGrenade_C":
                return "Sticky Bomb";
            case "RacingDestructiblePropaneTankActor_C":
                return "Propane Tank";
            case "RacingModeContorller_Desert_C":
                return "Bluezone";
            case "RedZoneBomb_C":
            case "RedZoneBombingField":
            case "RedZoneBombingField_Def_C":
            case "RedZoneBombingField_Savage_C":
                return "Redzone";
            case "SandStormBuff_BP_C":
                return "Sandstorm";
            case "TslDestructibleSurfaceManager":
                return "Destructible Surface";
            case "TslPainCausingVolume":
                return "Lava";
            case "Uaz_A_01_C":
            case "Uaz_Armored_C":
            case "Uaz_B_01_C":
            case "Uaz_B_01_esports_C":
            case "Uaz_C_01_C":
                return "UAZ";
            case "UltAIPawn_Base_Female_C":
            case "UltAIPawn_Base_Male_C":
                return "BOT";
            case "WeapACE32_C":
                return "ACE32";
            case "WeapAK47_C":
                return "AKM";
            case "WeapAUG_C":
                return "AUG A3";
            case "WeapAWM_C":
                return "AWM";
            case "WeapBerreta686_C":
                return "S686";
            case "WeapBerylM762_C":
                return "Beryl";
            case "WeapBizonPP19_C":
                return "Bizon";
            case "WeapBluezoneGrenade_C":
                return "BZ Grenade";
            case "WeapCowbarProjectile_C":
            case "WeapCowbar_C":
                return "Crowbar";
            case "WeapCrossbow_1_C":
                return "Crossbow";
            case "WeapDP12_C":
                return "DBS";
            case "WeapDP28_C":
                return "DP-28";
            case "WeapDesertEagle_C":
                return "Deagle";
            case "WeapDragunov_C":
                return "Dragunov";
            case "WeapDuncansHK416_C":
                return "M416";
            case "WeapFlareGun_C":
                return "Flare Gun";
            case "WeapFlashBang_C":
                return "Flash Bang";
            case "WeapFNFal_C":
                return "SLR";
            case "WeapG18_C":
                return "P18C";
            case "WeapG36C_C":
                return "G36C";
            case "WeapGroza_C":
                return "Groza";
            case "WeapHK416_C":
                return "M416";
            case "WeapIntegratedRepair_C":
                return "Repair Kit";
            case "WeapJS9_C":
                return "JS9";
            case "WeapJerryCan_C":
                return "Jerry Can";
            case "WeapJuliesKar98k_C":
                return "Kar98k";
            case "WeapK2_C":
                return "K2";
            case "WeapKar98k_C":
                return "Kar98k";
            case "WeapL6_C":
                return "Lynx AMR";
            case "WeapLunchmeatsAK47_C":
                return "AKM";
            case "WeapM16A4_C":
                return "M16A4";
            case "WeapM1911_C":
                return "P1911";
            case "WeapM249_C":
                return "M249";
            case "WeapM24_C":
                return "M24";
            case "WeapM79_C":
                return "M79";
            case "WeapM9_C":
                return "P92";
            case "WeapMG3_C":
                return "MG3";
            case "WeapMP5K_C":
                return "MP5K";
            case "WeapMP9_C":
                return "MP9";
            case "WeapMacheteProjectile_C":
            case "WeapMachete_C":
                return "Machete";
            case "WeapMadsQBU88_C": return "QBU88";
            case "WeapMini14_C": return "Mini 14";
            case "WeapMk12_C": return "Mk12";
            case "WeapMk14_C": return "Mk14";
            case "WeapMk47Mutant_C": return "Mk47 Mutant";
            case "WeapMosinNagant_C": return "Mosin-Nagant";
            case "WeapNagantM1895_C": return "R1895";
            case "WeapOriginS12_C": return "O12";
            case "WeapP90_C": return "P90";
            case "WeapPanProjectile_C":
            case "WeapPan_C":
                return "Pan";
            case "WeapPanzerFaust100M1_C":
                return "Panzerfaust";
            case "WeapPickaxeProjectile_C": return "Pick Axe";
            case "WeapQBU88_C": return "QBU";
            case "WeapQBZ95_C": return "QBZ";
            case "WeapRhino_C": return "R45";
            case "WeapSCAR-L_C": return "SCAR-L";
            case "WeapSKS_C": return "SKS";
            case "WeapSaiga12_C": return "S12K";
            case "WeapSawnoff_C": return "Sawed-off";
            case "WeapSickleProjectile_C":
            case "WeapSickle_C":
                return "Sickle";
            case "WeapStickyGrenade_C":
                return "Sticky Bomb";
            case "WeapThompson_C": return "Tommy Gun";
            case "WeapTurret_KillTruck_Main_C": return "Kill Truck Turret";
            case "WeapUMP_C": return "UMP9";
            case "WeapUZI_C": return "Micro Uzi";
            case "WeapVSS_C": return "VSS";
            case "WeapVector_C": return "Vector";
            case "WeapWin94_C": return "Win94";
            case "WeapWinchester_C": return "S1897";
            case "Weapvz61Skorpion_C":
                return "Skorpion";

            case "Item_Boost_EnergyDrink_C":
                return "Energy Drink";
            case "Item_Boost_PainKiller_C":
                return "Painkiller";
            case "Item_Heal_FirstAid_C":
                return "First Aid";
            case "Item_Heal_Bandage_C":
                return "Bandage";
            case "Item_Heal_MedKit_C":
                return "Med Kit";
            default:
                Console.WriteLine($"Unknown weapon/vehicle/item/thing: {weapon}");
                return weapon;
        }
    }
    public string GetDamageDescription(dynamic evt)
    {
        var playerName = evt.PlayerIsNPC.GetValueOrDefault() ? evt.PlayerAccountId : evt.Player.PlayerName;
        var secondaryName = evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? evt.SecondaryPlayerAccountId : evt.SecondaryPlayer.PlayerName;

        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
        {
            return $"{playerName} killed by {evt.DamageReason} from {secondaryName}";
        }
        else
        {
            return $"{playerName} died {evt.DamageReason}";
        }
    }

    public MarkupString FormatDescription(string description)
    {
        return (MarkupString)description.Replace("\r\n", "<br>")
                                        .Replace("\r", "<br>")
                                        .Replace("\n", "<br>");
    }

    public string GetRanking(int ranking)
    {
        switch (ranking % 10)
        {
            case 0:
            case 4:
            case 5:
            case 6:
            case 7:
            case 8:
            case 9:
                return ranking + "th";
            case 1:
                if (ranking % 100 == 11)
                {
                    return ranking + "th";
                }
                return ranking + "st";
            case 2:
                if (ranking % 100 == 12)
                {
                    return ranking + "th";
                }
                return ranking + "nd";
            case 3:
                if (ranking % 100 == 13)
                {
                    return ranking + "th";
                }
                return ranking + "rd";
        }
        return ranking.ToString();
    }

    public string FixWeather(string weather)
    {
        switch (weather)
        {
            case "Snow_01":
                return "Snow";
            default:
                return weather;
        }
    }
    public string GetZoneDescription(string zone)
    {
        // Zone List: https://github.com/pubg/api-assets/blob/master/enums/telemetry/regionId.json
        switch (zone)
        {
            // Sanhok Zones
            case "bootcamp":
                return "Bootcamp";
            case "campalpha":
                return "Camp Alpha";
            case "campomilitar":
                return "Military Base";
            case "chumacera":
                return "Quarry";
            case "cruzdelvalle":
                return "Valley Crossing";
            case "elazahar":
                return "El Azahar";
            case "elpozo":
                return "El Pozo";
            case "graveyard":
                return "Graveyard";
            case "haciendadelpatron":
                return "Hacienda del Patrón";
            case "hatinh":
                return "Hatin";
            case "impala":
                return "Impala";
            case "khao":
                return "Khao";
            case "lakawi":
                return "Lakawi";
            case "losleones":
                return "Los Leones";
            case "manisgenerales":
                return "Mani Generales";
            case "montenuevo":
                return "Monte Nuevo";
            case "oasis":
                return "Oasis";
            case "painan":
                return "Painan";
            case "paradiseresort":
                return "Paradise Resort";
            case "pecado":
                return "Pecado";
            case "powergrid":
                return "Power Grid";
            case "puertoparaiso":
                return "Puerto Paraiso";
            case "quarry":
                return "Quarry";
            case "ruins":
                return "Ruins";
            case "sanmartin":
                return "San Martin";
            case "tatmok":
                return "Tat Mok";
            case "tierrabronca":
                return "Tierra Bronca";
            case "watertreatment":
                return "Water Treatment";

            // Deston Zones
            case "arena":
                return "Arena";
            case "assembly":
                return "Assembly";
            case "barclift":
                return "Barclift";
            case "buxley":
                return "Buxley";
            case "carpenter`send":
            case "Carpenter’s End":
                return "Carpenter's End";
            case "cavala":
                return "Cavala";
            case "concert":
                return "Concert Hall";
            case "constructionsite,Construction Site":
                return "Construction Site";
            case "El Koro":
            case "elkoro":
            case "elkoro,El Koro":
                return "El Koro";
            case "hydroelectricdam":
            case "hydroelectricdam,Hydroelectric Dam":
                return "Hydroelectric Dam";
            case "holstonmeadows,Holston Meadows":
            case "holstonmeadows":
                return "Holston Meadows";
            case "lipton, Ripton":
                return "Ripton";
            case "lodge":
            case "Lodge":
                return "Lodge";
            case "losacro":
            case "losacros,Los Arcos":
                return "Los Acros";
            case "Ripton":
            case "lipton,Ripton":
                return "Ripton";
            case "sancarna":
                return "Sancarna";
            case "swamp":
                return "Swamp";
            case "tenforts,swamp":
                return "Ten Forts & Swamp";
            case "tenfort":
            case "tenforts,Ten Forts":
                return "Ten Forts";
            case "turrita":
            case "Turrita":
                return "Turrita";
            case "Wind Farms":
            case "windfarm,Wind Farms":
                return "Wind Farms";
            case "windfarm,Coastal Towns":
                return "Wind Farms & Coastal Towns";

            // Erangal Zones
            case "BAL_SecretRoom":
                return "Secret Room";
            case "boatyard":
                return "Boat Yard";
            case "farm":
                return "Farm";
            case "ferrypier":
            case "ferrypier,8thEventSpot":
                return "Ferry Pier";
            case "gatka":
                return "Gatka";
            case "georgopol":
                return "Georgopol";
            case "pochinki":
                return "Pochinki";
            case "prison":
                return "Prison";
            // Covered by another caase
            // case "quarry":
            //              return "Quarry";
            case "rozhok":
                return "Rozhok";
            //case "ruins":
            //  return "Ruins";
            //case "school":
            //    return "School";
            case "SecretRoom":
                return "Secret Room";
            case "shelter":
                return "Shelter";
            case "shootingrange":
                return "Shooting Range";
            case "sosnovkamilitarybase":
                return "Military Base";
            case "stalber":
                return "Stalber";
            case "yasnayapolyana":
                return "Yasnaya Polyana";

            // Haven Zones
            case "industrialpark":
                return "Industrial Park";
            case "railyard":
                return "Railyard";
            case "residential":
                return "Residential Area";
            case "steelmill":
                return "Steel Mill";

            // Karakin Zones
            case "alhayik":
                return "Al Hayik";
            case "alhabar":
                return "Al Habar";
            case "bahrsahir":
                return "Bahrsahir";
            case "bashara":
                return "Bashara";
            case "hadiqanemo":
                return "Hadiqane Mo";
                /* copilot generated
                *
        case "deadzone":
                return "Dead Zone";
            case "dockyard":
                return "Dockyard";
            case "fortmangul":
                return "Fort Mangul";
            case "gudvangen":
                return "Gudvangen";
            case "hamid":
                return "Hamid";
            case "jinn":
                return "Jinn";
            case "makarov":
                return "Makarov";

            case "bahrain":
                return "Bahrain";
            case "jabal":
                return "Jabal";
            case "khandak":
                return "Khandak";
            case "mardin":
                return "Mardin";
            case "qalat":
                return "Qalat";
            case "sultans":
                return "Sultans";
            case "tarok":
                return "Tarok";
            case "temple":
                return "Temple";
            case "town":
                return "Town";
                */

            // Paramo Zones
        case "Lab":
                return "Lab";
            case "Level_A":
                return "Level A";
            case "Level_B":
                return "Level B";
            case "Level_C":
                return "Level C";
            case "Level_D":
                return "Level D";

            // Rondo Zones
            case "danching":
                return "Danching";
            case "hungshan":
                return "Hungshan";
            case "jadenacity":
                return "Jadena City";
            case "jaotin":
                return "Jao Tin";
            case "lohuaxing":
                return "Lohuaxing";
            case "meyran":
                return "Meyran";
            case "muhopan":
                return "Muhopan";
            case "neoxfactory":
                return "Neox Factory";
            case "neoxfactory, testtrack":
                return "Neox Factory & Test Track";
            case "stadium":
                return "Stadium";
            case "testtrack":
                return "Test Track";
            case "tuling":
                return "Tuling";
            case "yulin":
                return "Yulin";


            // aego Zones
            case "airport":
                return "Airport";
            case "fishingcamp":
                return "Fishing Camp";
            case "godok":
                return "Go Dok";
            case "hosan":
                return "Hosan";
            case "Hospital":
            case "hospital":
                return "Hospital";
            case "hosanprison":
                return "Hosan Prison";
            case "ohhyang":
                return "Oh Hyang";
            case "palace":
                return "Palace";
            case "school":
                return "School";
            case "terminal":
                return "Terminal";
            case "yongcheon":
                return "Yongcheon";

            // Vikendi Zones

            case "castle":
                return "Castle";
            case "coalmine":
                return "Coal Mine";
            case "dinoland":
                return "Dino Land";
            case "naros":
                return "Naros";
            case "lumberyard":
                return "Lumber Yard";
            case "trainstation":
                return "Train Station";
            case "trika":
                return "Trika";
            case "winery":
                return "Winery";
            case "dekamesto":
                return "Deka Mesto";
            // Unspecified or unknown zone
            case null:
                return "";
            default:
                Console.WriteLine($"Unknown locaion: {zone}");
                return zone;
        }
    }
}