@page
@using Microsoft.AspNetCore.Components
@model PUBGCustomStats.Web.Pages.MatchModel
@{
    ViewData["Title"] = Model.Match?.MatchNameOrDefault();
}


<h4>Match Timeline</h4>

@if (!string.IsNullOrEmpty(Model.Match?.MatchDescription))
{
    <p>
        @Html.Raw(FormatDescription(Model.Match.MatchDescription))
    </p>
}

<p>Mode: @Model.Match?.GameMode</p>


<p>Map: @Model.Match?.Map</p>

@if (Model.Match?.NoFireUntilPhase.HasValue == true)
{
    <p>
        No Firing until Phase: @Model.Match?.NoFireUntilPhase
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Weather))
{
    <p>
        Weather: @FixWeather(Model.Match.Weather)
    </p>
}
@if (!string.IsNullOrEmpty(Model.Match?.Perspective))
{
    <p>
        Perspective: @Model.Match.Perspective
    </p>
}

@if (Model.MatchTimeline != null && Model.MatchTimeline.Any())
{
    <Table class="table table-hover table-bordered">
        @{
            var firstEvent = Model.MatchTimeline.First().EventTimestamp;

            var matchEnded = false;
            foreach (var evt in Model.MatchTimeline.OrderBy(e => e.EventTimestamp))
            {
                var timeStamp = (evt.EventTimestamp - firstEvent);
                var descripion = "";
                bool skip = false;

                switch (evt.EventType)
                {
                    case "LogMatchStart":
                        descripion = "🏳️ Match Start";

                        break;

                    case "LogPhaseChange":
                        switch (evt?.IsGame)
                        {
                            case 0.0m:
                                descripion = "⌚ Waiting for Players";
                                break;
                            case 0.1m:
                                descripion = "🛫 On Plane";
                                break;
                            case 0.5m:
                                descripion = "🏳️ Starting";
                                break;
                            case 1:
                            case 2:
                            case 3:
                            case 4:
                            case 5:
                            case 6:
                            case 7:
                            case 8:
                            case 9:
                            case 10:
                                descripion = "🔵 Phase #" + evt.Phase + " Blue Zone shrinking";
                                break;
                            case 1.5m:
                            case 2.5m:
                            case 3.5m:
                            case 4.5m:
                            case 5.5m:
                            case 6.5m:
                            case 7.5m:
                            case 8.5m:
                            case 9.5m:
                            case 10.5m:
                                descripion = "🔵 Phase #" + evt.Phase + " starts";
                                if (Model.Match != null)
                                {
                                    if (Model.Match.NoFireUntilPhase.HasValue && Model.Match.NoFireUntilPhase == evt.Phase)
                                    {
                                        descripion += ". Commence firing.";
                                    }
                                }
                                break;
                            default:
                                descripion = "❓ Unknown";
                                break;
                        }

                        break;

                    case "LogPlayerKillV2":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot kills
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " killed by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }
                        else
                        {
                            // Ignore bot only evens
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {

                                descripion = "☠️ " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " died from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon) && evt.Weapon != "None")
                        {
                            var weapon = GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {

                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "Bluezonebomb_EffectActor_Subzero_C":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    if (player.PlayerIsNPC.GetValueOrDefault())
                                    {
                                        playerList += GetNPCName(player.PlayerAccountId);
                                    }
                                    else
                                    {
                                        playerList += player.PlayerAccountId;
                                    }
                                }
                            }

                            descripion += ". Assist from " + playerList;
                        }

                        if (evt.IndividualRanking != null && evt.IndividualRanking > 0)
                        {
                            descripion += ". Individual ranking " + GetRanking(evt.IndividualRanking.Value);
                        }

                        break;

                    case "LogPlayerMakeGroggy":

                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.PlayerGuid == evt.SecondaryPlayerGuid)
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked themself by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                                else
                                {
                                    descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                            }
                        }
                        else
                        {
                            // Ignore bot only events
                            if (evt.PlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                descripion = "💤 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " knocked by " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Weapon))
                        {
                            var weapon = GetWeaponDescription(evt.Weapon);

                            switch (weapon)
                            {
                                case "Player":
                                case "Blue Zone":
                                case "Red Zone":
                                case "Molotov Cocktail":
                                case "Frag Grenade":
                                case "Molotov Fire":
                                case "Molotov Fire Damage":
                                case "Redzone":
                                case "Bluezone Grenade":
                                case "C4":
                                case "Drowning":
                                case "None":
                                    // skip, when it is melee, or throwable
                                    break;
                                default:
                                    descripion += " with " + weapon;
                                    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }

                        /*
                        if (evt.DBNOId.HasValue)
                        {
                            descripion += " (Knock #" + evt.DBNOId.Value + ")";
                            }
                        */
                        break;

                    case "LogPlayerRevive":
                        if (evt.SecondaryPlayerGuid.HasValue || evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                        {
                            // Ignore bot on bot revives
                            if (evt.PlayerIsNPC.GetValueOrDefault() && evt.SecondaryPlayerIsNPC.GetValueOrDefault())
                            {
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayerAccountId == evt.PlayerAccountId)
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " self revived";
                                }
                                else
                                {
                                    descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " revived by " + (evt.SecondaryPlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.SecondaryPlayerAccountId) : evt.SecondaryPlayer?.PlayerName);
                                }
                            }
                        }
                        else
                        {
                            descripion = "🩺 " + (evt.PlayerIsNPC.GetValueOrDefault() ? GetNPCName(evt.PlayerAccountId) : evt.Player?.PlayerName) + " revived";
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogPlayerUseFlareGun":
                        descripion = "🎆 " + evt.Player?.PlayerName + " used Flare Gun";

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogMatchEnd":
                        descripion = "🏁 Match Ended.";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Winner(s) " + playerList + ".";
                        }

                        matchEnded = true;
                        break;

                    case "LogWheelDestroy":
                        var wheel = "Wheel";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            wheel = GetWeaponDescription(evt.Vehicle) + " " + wheel;
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🛞 " + wheel + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player?.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogVehicleDestroy":
                        var vehicle = "Vehicle";
                        if (!string.IsNullOrEmpty(evt.Vehicle))
                        {
                            vehicle = GetWeaponDescription(evt.Vehicle);
                        }
                        if (evt.PlayerIsNPC.GetValueOrDefault())
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + GetNPCName(evt.PlayerAccountId);
                        }
                        else if (evt.PlayerGuid == null)
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason);
                        }
                        else
                        {
                            descripion = "🚗 " + vehicle + " Destroyed by " + GetWeaponDescription(evt.DamageCategory, evt.DamageReason) + " from " + evt.Player?.PlayerName;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        break;

                    case "LogEmPickupLiftOff":
                        if (evt.PlayerGuid == null)
                        {
                            descripion = "🛫 Emergency Pickup Called";
                        }
                        else
                        {
                            descripion = "🛫 " + evt.Player?.PlayerName + " called Emergency Pickup";
                        }
                        if (!string.IsNullOrEmpty(evt.Zone))
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";

                        if (evt.MatchTimelinePlayers != null && evt.MatchTimelinePlayers.Any())
                        {
                            var playerList = "";
                            foreach (var player in evt.MatchTimelinePlayers)
                            {
                                if (!string.IsNullOrEmpty(playerList))
                                {
                                    playerList += ", ";
                                }
                                if (player.Player != null)
                                {
                                    playerList += player.Player.PlayerName;
                                }
                                else
                                {
                                    playerList += player.PlayerAccountId;
                                }
                            }

                            descripion += " Carrying " + playerList + ".";
                        }
                        break;

                    case "LogCharacterCarry":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            switch (evt.Status)
                            {
                                case "BodyCarry_Start_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " started carrying player";
                                    break;
                                case "BodyCarry_Start_Carried":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " is being carried";
                                    break;
                                case "BodyCarry_End_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " stopped carrying player";
                                    break;
                                case "BodyCarry_End_Carried":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " is no longer being carried";
                                    break;
                                case "BodyCarry_Died_Carrier":
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " carrier died";
                                    break;
                                default:
                                    descripion = "🏋️ " + evt.Player?.PlayerName + " carrying player/being carried";
                                    break;
                            }
                        }

                        break;

                    case "LogCarePackageSpawn":
                        descripion = "📦 ";
                        if (evt.DamageCategory != null)
                        {
                            descripion += MatchHelpers.GetCarePackageDescription(evt.DamageCategory);
                        }
                        descripion += " Care Package Dropping";
                        if (evt.Weapon != null)
                        {
                            descripion += ". Containing " + GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogCarePackageLand":
                        descripion = "📦 ";
                        if (evt.DamageCategory != null)
                        {
                            descripion += MatchHelpers.GetCarePackageDescription(evt.DamageCategory);
                        }
                        descripion += " Care Package Landed";
                        if (evt.Weapon != null)
                        {
                            descripion += ". Containing " + GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogRedZoneEnded":
                        descripion = "🔴 Red Zone Ended";
                        break;

                    case "LogBlackZoneEnded":
                        descripion = "🟣 Black Zone Ended";
                        break;

                    case "LogPlayerRedeploy":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " redeployed";
                        }
                        break;

                    case "LogPlayerRedeployBRStart":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " started redeploy";
                        }
                        break;

                    case "LogParachuteLanding":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🪂 " + evt.Player?.PlayerName + " landed";
                            if (!string.IsNullOrEmpty(evt.Zone))
                            {
                                descripion += " in " + GetZoneDescription(evt.Zone);

                            }
                            descripion += " (Parachuted " + evt.Distance?.ToString("N0") + "m)";
                        }
                        break;

                    case "LogPlayerDestroyBreachableWall":
                        if (evt.PlayerIsNPC.GetValueOrDefault() || evt.PlayerGuid == null)
                        {
                            skip = true;
                        }
                        else
                        {
                            descripion = "🧱 " + evt.Player?.PlayerName + " destroyed wall";
                            descripion += " with " + GetWeaponDescription(evt.Weapon);
                        }
                        break;

                    case "LogVehicleLeave":
                        switch (evt.Vehicle)
                        {
                            case "BP_EmergencyPickupVehicle_C":
                                descripion = "🛬 " + evt.Player?.PlayerName + " jumped from Emergency Pickup";
                                break;

                            case "RedeployAircraft_Tiger_C":
                                descripion = "🛬 " + evt.Player?.PlayerName + " jumped from Redeploy Aircraft";
                                break;

                            default:
                                skip = true;
                                break;
                        }
                        break;

                    case "LogItemUse":
                        switch (evt.Weapon)
                        {
                            case "Item_BTSecretRoom_Key_C": // Erangal - Secreate Basement Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Secret Basement Key";
                                break;

                            case "Item_Tiger_Key_C": // Taego - Secret Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Secret Key";
                                break;

                            case "Item_DihorOtok_Key_C": // Vikendi - Security Key
                            case "Item_Secuity_Keycard_C": // Deston - Security Key
                                descripion = "🔑 " + evt.Player?.PlayerName + " used Security Key";
                                break;

                            case "Item_Bluechip_C":
                                descripion = "🗼 " + evt.Player?.PlayerName + " used Blue Chip Tower";
                                break;
                            default:
                                skip = true;
                                break;
                        }

                        if (!string.IsNullOrEmpty(evt.Zone) && !skip)
                        {
                            descripion += " in " + GetZoneDescription(evt.Zone);
                        }
                        descripion += ".";
                        break;

                    case "LogObjectInteraction":
                        switch (evt.DamageCategory)
                        {
                            case "VendingMachine":
                                descripion = "🎰 " + evt.Player?.PlayerName + " used Vending Machine. Returned " + GetWeaponDescription(evt.Weapon);
                                break;
                            case "FuelPuddle":
                                switch (evt.DamageReason)
                                {
                                    case "Ignite":
                                        descripion = "⛽ " + evt.Player?.PlayerName + " ignited Fuel Puddle";
                                        break;
                                    default:
                                        descripion = "⛽ " + evt.Player?.PlayerName + " " + evt.DamageReason + " Fuel Puddle";
                                        break;
                                }

                                break;
                            default:
                                skip = true;
                                break;
                        }
                        break;
                    case "LogPlayerAttack":
                        // emp, unil NoFireUntilPhase has been reached.
                        skip = true;
                        //descripion = evt.Player.PlayerName + " attacked with " + evt.Weapon;
                        break;

                    case "LogPlayerTakeDamage":
                        // emp, unil NoFireUntilPhase has been reached.
                        if (Model.Match?.NoFireUntilPhase == null)
                        {
                            // Skip when no fire period not set
                            skip = true;
                        }
                        else
                        {
                            if (evt.IsGame >= Model.Match.NoFireUntilPhase)
                            {
                                // Skip when phase has passed
                                skip = true;
                            }
                            else
                            {
                                if (evt.SecondaryPlayer != null)
                                {
                                    if (evt.SecondaryPlayerGuid == evt.PlayerGuid)
                                    {
                                        skip = true; // Skip self inflicted
                                    }
                                    else
                                    {
                                        descripion = "🚷 " + evt.Player?.PlayerName + " took damage from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason) + " by " + evt.SecondaryPlayer.PlayerName;
                                    }
                                }
                                else
                                {
                                    skip = true; // Skip environmental/blue zone/crash
                                    //descripion = evt.Player.PlayerName + " took damage from " + GetDamageDescription(evt.DamageCategory, evt.DamageReason);
                                }
                            }
                        }
                        break;

                    case "LogPlayerLogout":
                        if (!matchEnded)
                        {
                            if (evt.Player != null)
                            {
                                descripion = "🚪 " + evt.Player?.PlayerName + " logged out.";
                            } 
                            else 
                            {
                                descripion = "🚪 Unknown Player logged out.";
                            }    
                        } 
                        else 
                        {
                            skip = true;
                        }

                        break;

                    case "LogPlayerUseThrowable":

                        switch (evt.Weapon)
                        {
                            case "Item_Weapon_PackageFlare_C":
                                descripion = "🎆 "+ evt.Player?.PlayerName + " used Package Flare";
                                break;
                            case "Item_Weapon_CoverStructDropHandFlare_C":
                                descripion = "🎆 "+ evt.Player?.PlayerName + " used Cover Flare";
                                break;
                            default:
                                skip = true;
                                break;
                        }
                        break;                    

                    default:
                        skip = true;
                        break;
                }

                if (!skip)
                {
                    <tr>
                        <td>@timeStamp.ToString("mm':'ss'.'ff")</td>
                        <td> @descripion</td>
                    </tr>
                }
            }
        }
    </Table>
}
else
{
    <p>Sorry, no match events available</p>
}




@functions {
    public string GetNPCName(string? playerAccountId)
    {
        if (playerAccountId == null)
        {
            return "Unknown";
        }
        if (playerAccountId.StartsWith("Guard.ai"))
        {
            return "GUARD";
        }
        if (playerAccountId.StartsWith("Commander.ai"))
        {
            return "Commander";
        }
        if (playerAccountId.StartsWith("ai"))
        {
            return "BOT";
        }
        if (playerAccountId.StartsWith("Monster.Bear"))
        {
            return "BEAR";
        }
        return playerAccountId;
    }

    public string GetDamageDescription(string? damageCategory, string? damageReason)
    {
        switch (damageCategory)
        {
            case "Damage_BlueZone":
                return "Blue Zone";
            case "Damage_DropStructHit":
                return "Drop Structure";
            case "Damage_CarePackageDropHit":
                return "Care Package Drop";
            case "Damage_Drown":
                return "Drowning";
            case "Damage_Explosion_C4":
                return "C4";
            case "Damage_Explosion_Grenade":
                return "Grenade";
            case "Damage_Explosion_JerryCan":
                return "Jerry Can";
            case "Damage_Explosion_Mortar":
                return "Mortar";
            case "Damage_Explosion_PanzerFaustBackBlast":
                return "Panzer Back Blast";
            case "Damage_Explosion_PanzerFaustWarhead":
                return "Panzer";
            case "Damage_Explosion_PanzerFaustWarheadVehicleArmorPenetration":
                return "Panzer Vehicle Penetration";
            case "Damage_Explosion_RedZone":
                return "Red Zone";
            case "Damage_Explosion_BlackZone":
                return "Black Zone";
            case "Damage_Explosion_StickyBomb":
                return "Sticky Bomb";
            case "Damage_Explosion_Vehicle":
                return "Vehicle Explosion";
            case "Damage_Explosion_GasPump":
                return "Gas Pump Explosion";

            case "Damage_Gun_Penetrate_BRDM":
            case "Damage_Gun":
                return FormatDamageReason(damageReason);
            case "Damage_Instant_Fall":
                return "Fall";
            case "Damage_Lava":
                return "Lava";

            case "Damage_Melee":
                return "Melee to " + SimplifyDamageReason(damageReason);
            case "Damage_MeleeThrow":
                return "Melee Throw to " + SimplifyDamageReason(damageReason);
            case "Damage_Molotov":
                return "Molotov";
            case "Damage_Monster":
                return "Monster";
            case "Damage_Punch":
                return SimplifyDamageReason(damageReason) + " Punch";
            case "Damage_VehicleCrashHit":
                return "Vehicle Crash";
            case "Damage_VehicleHit":
                return "Vehicle";
            /* return damageReason;*/
            case "Damage_HelicopterHit":
                return "Helicopter";
            case "Damage_Groggy":
            case "Damage_DBNO":
                return "Bleeding out";
            case "Damage_BlueZoneGrenade":
                return "BZ Grenade";
            case null:
                return "Unknown";
            default:
                return damageCategory + " " + damageReason;
        }
    }

    public string FormatDamageReason(string? damageReason)
    {
        switch (damageReason)
        {
            case "ArmShot":
                return "Arm Shot";
            case "HeadShot":
                return "Head Shot";
            case "LegShot":
                return "Leg Shot";
            case "PelvisShot":
                return "Pelvis Shot";
            case "TorsoShot":
                return "Torso Shot";
            case null:
                return "";
            default:
                return damageReason;
        }
    }

    public string SimplifyDamageReason(string? damageReason)
    {
        switch (damageReason)
        {
            case "ArmShot":
                return "Arm";
            case "HeadShot":
                return "Head";
            case "LegShot":
                return "Leg";
            case "PelvisShot":
                return "Pelvis";
            case "TorsoShot":
                return "Torso";
            case "None":
            case null:
                return "";
            default:
                return damageReason;
        }
    }

    public string GetWeaponDescription(string? damageCategory, string? damageReason)
    {
        switch (damageCategory)
        {
            case "Damage_DropStructHit":
                return "Structure Drop";
            case "Damage_CarePackageDropHit":
                return "Care Package Drop";
            case "Damage_Explosion_GasPump":
                return "Gas Pump Explosion";
            case "Damage_Explosion_Mortar":
                return "Mortar";
            case "Damage_Explosion_PanzerFaustWarheadVehicleArmorPenetration":
            case "Damage_Explosion_PanzerFaustWarhead":
                return "Panzer";
            case "Damage_Explosion_RedZone":
                return "Red Zone";
            case "Damage_Lava":
                return "Lava";
            case "Damage_Monster":
                return "Bear";
            case "Damage_Punch":
                return "Punch";
            case "Damage_Explosion_C4":
            case "WeapC4_C":
                return "C4";
            case "Damage_Explosion_Grenade":
                return "Grenade";
            case "Damage_Explosion_StickyBomb":
                return "Sticky Bomb";
            case "Damage_Instant_Fall":
                return "Fall";
            case "Damage_VehicleCrashHit":
                return "Crash";
            case "Damage_Gun":
            case "Damage_Gun_Penetrate_BRDM":
            case "Damage_Melee":
                return GetWeaponDescription(damageReason);
            default:
                return damageCategory + " " + damageReason;
        }
    }

    public string GetWeaponDescription(string? weapon)
    {
        if (weapon == null){
            return "";
        }
        // Remove anything after _C
        if (weapon.Contains("_C_"))
        {
            weapon = weapon.Substring(0, weapon.IndexOf("_C_") + 2);
        }

        // Lookup weapon from: https://github.com/pubg/api-assets/blob/master/dictionaries/telemetry/damageCauserName.json
        // Lookup vehicle from: https://github.com/pubg/api-assets/blob/master/dictionaries/telemetry/vehicle/vehicleId.json
        switch (weapon)
        {
            case "WeapAKM_C":
                return "AKM";
            case "WeapM416_C":
                return "M416";
            case "WeapSLR_C":
                return "SLR";
            case "LMG6":
                return "LMG6";
            case "TslGameModeBase_BattleRoyale_CustomBP_C":
            case "TslGameModeBase_BattleRoyaleBP_C":
                return "Blue Zone";
            case "WeapGrenade_C":
                return "Grenade";
            case "Item_Weapon_StickyGrenade_C":
                return "Sticky Bomb";
            case "Uaz_C":
                return "Uaz";
            case "WeapFamasG2_C":
                return "FAMAS";
            case "WeapSmokeBomb_C":
                return "Smoke Bomb";
            case "WeapMolotov_C":
                return "Molotov";
            case "AIPawn_Base_Female_C":
            case "AIPawn_Base_Male_C":
                return "AI Player";
            case "AirBoat_V2_C":
                return "Airboat";
            case "AquaRail_A_01_C":
            case "AquaRail_A_02_C":
            case "AquaRail_A_03_C":
                return "Aquarail";
            case "BP_ATV_C":
                return "Quad";
            case "BP_BearV2_C":
                return "Bear";
            case "BP_BRDM_C":
                return "BRDM-2";
            case "BP_Bicycle_C":
            case "BP_Bicycle_Succubus_C":
                return "Bicycle";
            case "BP_Blanc_C":
            case "BP_Blanc_Esports_C":
                return "Coupe SUV";
            case "BP_Carrera_LGD_C":
                return "Carrera";
            case "BP_Cayenne_EP_C":
                return "Cayenne";
            case "BP_Dacia_C":
                return "Dacia";
            case "BP_Mirado_C":
                return "Mirado";
            case "BP_Motorcycle_C":
                return "Motorcycle";
            case "BP_PG117_C":
                return "PG-117";
            case "BP_Rony_C":
                return "Rony";
            case "BP_Scooter_C":
                return "Scooter";
            case "BP_SkiBike_C":
                return "Snowmobile";
            case "BP_Tractor_C":
                return "Tractor";
            case "BP_TrainPlatform_Armored_C":
                return "Armored Train";
            case "BP_UAZ_Armored_C":
                return "Armored UAZ";
            case "BP_Van_C":
                return "Van";
            case "CarUse_C":
                return "Car";
            case "Dingy_C":
                return "Dingy";
            case "Ferry_C":
                return "Ferry";
            case "Glider_Costume_New_Female_C":
            case "Glider_Costume_New_Male_C":
                return "Wingsuit";
            case "MotorcycleCart_C":
                return "Motorcycle w/Sidecar";
            case "Player":
                return "Player";
            case "Redzone":
                return "Red Zone";
            case "RedZone_Spawner_C":
                return "Red Zone";
            case "Bluezone Grenade":
                return "BZ Grenade";
            case "Bluezonebomb_EffectActor_Subzero_C":
                return "BZ Grenade";
            case "C4":
                return "C4";
            case "Drowning":
                return "Drowning";
            case "None":
                return "";
            case null:
                return "";
            default:
                return weapon;
        }
    }

    public string FixWeather(string weather)
    {
        switch (weather)
        {
            case "Clear":
                return "☀️ Clear";
            case "Rain":
                return "🌧️ Rain";
            case "Fog":
                return "🌫️ Fog";
            case "Sandstorm":
                return "🌪️ Sandstorm";
            case "Overcast":
                return "☁️ Overcast";
            case "Snow":
                return "❄️ Snow";
            default:
                return weather;
        }
    }

    public string FormatDescription(string description)
    {
        // Replace new lines with <br> tags
        return description.Replace("\n", "<br>");
    }

    public string GetZoneDescription(string zone)
    {
        switch (zone)
        {
            case "Sosnovka_Military_Base":
                return "Military Base";
            case "Sosnovka_State_Farm":
                return "State Farm";
            case "Sosnovka_Abandoned_Village":
                return "Abandoned Village";
            case "Sosnovka_Factory":
                return "Factory";
            case "Sosnovka_Crater":
                return "Crater";
            case "Sosnovka_Volcano":
                return "Volcano";
            case "Sosnovka_Underground_bunker":
                return "Underground Bunker";
            case "Sosnovka_Port":
                return "Port";
            case "Taego_Resort":
                return "Resort";
            case "Taego_Laboratory":
                return "Laboratory";
            case "Taego_Pagoda":
                return "Pagoda";
            case "Taego_Temple":
                return "Temple";
            case "Taego_Watch_Tower":
                return "Watch Tower";
            case "Deston_Hacienda_Del_Patrón":
                return "Hacienda Del Patrón";
            case "Deston_Marina":
                return "Marina";
            case "Deston_Launch_Site":
                return "Launch Site";
            case "Deston_Construction_Site":
                return "Construction Site";
            case "Deston_Ruins":
                return "Ruins";
            case "Deston_Power_Plant":
                return "Power Plant";
            case "Deston_Platform":
                return "Platform";
            case "Deston_Oil_Rig":
                return "Oil Rig";
            default:
                return zone;
        }
    }

    public string GetRanking(int ranking)
    {
        switch (ranking)
        {
            case 1:
                return "1st (Winner)";
            case 2:
                return "2nd";
            case 3:
                return "3rd";
            default:
                return ranking + "th";
        }
    }
}
