@page "{playerGuid}"
@model PUBGCustomStats.Web.Pages.PlayerModel
@{
    ViewData["Title"] = Model.PlayerName;

    Guid currentSeason = Guid.Empty;
}


@if (Model.MatchList != null)
{
    <h4>Matches Played</h4>
    <table class="table table-hover ">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Map</th>
                <th>Type</th>
                <th>Duration</th>
                <th class="text-end">Position&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model.MatchList.OrderBy(s => s.MatchStartTime))
            {
                if (match.SeasonGuid.GetValueOrDefault() != currentSeason)
                {
                    currentSeason = match.SeasonGuid.GetValueOrDefault();

                    <tr>
                        <td colspan="3">
                            New Season
                        </td>
                    </tr>
                }

                if (match.DoNotCount)
                {
                    <tr>
                        <td>
                            <i>
                                <span class="d-none d-sm-inline">@match.MatchStartTime?.ToLocalTime().ToShortDateString() </span>
                                @match.MatchStartTime?.ToLocalTime().ToLongTimeString()
                            </i>
                        </td>
                        <td>
                            <i><a href="/match?matchGuid=@match.MatchGuid">@match.MatchName</a></i>

                        </td>
                        <td>
                            <i>@match.Map</i>

                        </td>
                        <td>
                            <i>@match.GameMode</i>

                        </td>
                        <td>
                            <i>@match.MatchLength?.ToString("mm:ss")</i>

                        </td>
                        <td class="text-end">
                            @if (match.Rank == 1)
                            {
                                <span title="First Place 🥇">🥇</span>
                            }
                            else if (match.Rank == 2)
                            {
                                <span title="Second Place 🥈">🥈</span>
                            }
                            else if (match.Rank == 3)
                            {
                                <span title="Third Place 🥉">🥉</span>
                            }
                            else
                            {
                                @match.Rank

                                <text>&nbsp;</text>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <span class="d-none d-sm-inline">@match.MatchStartTime?.ToLocalTime().ToShortDateString() </span>
                            @match.MatchStartTime?.ToLocalTime().ToLongTimeString()
                        </td>
                        <td><div class=""><a href="/match?matchGuid=@match.MatchGuid">@match.MatchName</a></div></td>
                        <td>@match.Map</td>
                        <td>@match.GameMode</td>
                        <td>@match.MatchLength?.ToString("mm:ss")</td>

                        <td class="text-end">
                            @if (match.Rank == 1)
                            {
                                <span title="First Place 🥇">🥇</span>
                            }
                            else if (match.Rank == 2)
                            {
                                <span title="Second Place 🥈">🥈</span>
                            }
                            else if (match.Rank == 3)
                            {
                                <span title="Third Place 🥉">🥉</span>
                            }
                            else
                            {
                                @match.Rank

                                <text>&nbsp;</text>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No match summary available for this player.</p>
}

<table class="table table-hover ">
    <thead class="thead-light">
        <tr>
            <th rowspan="2"><h1>Kills</h1></th>
            <th colspan="2" class="text-center">Main Custom Matches</th>
            <th colspan="2" class="text-center">Other Matches</th>
        </tr>
        <tr>
            <th class="text-end">Kill Count</th>
            <th class="text-end">Knock Count</th>
            <th class="text-end"><i>Kill Count</i></th>
            <th class="text-end"><i>Knock Count</i></th>
        </tr>
    </thead>

    @if (Model.PlayerKills == null)
    {
        <tr>
            <td colspan="5">No Data</td>

        </tr>
    }
    else
    {
        foreach (var playerKilled in Model.PlayerKills)
        {
            <tr>
                <td>
                    @switch (playerKilled.PlayerName)
                    {
                        case "BOT":
                            <span title="Bot">&#129302;</span>
                            break;
                        case "Guard":
                        case "GUARD":
                            <span title="Guard">&#128130;</span>
                            break;
                        case "Commander":
                            <span title="Commander">&#128130;</span>
                            break;
                        case "Blue Zone":
                            <span title="Blue Zone">&#128309;</span>
                            break;
                        case "Red Zone":
                            <span title="Red Zone">&#128308;</span>
                            break;
                        case "Black Zone":
                            <span title="Black Zone">&#128995;</span>
                            break;
                        case "Bear":
                            <span title="Bear">&#128059;</span>
                            break;
                        case "Drowning":
                            <span title="Drowning">&#128705;</span>
                            break;
                        case "Jerry Can":
                            <span title="Jerry Can">&#9981;</span>

                            break;
                        case "Helicopter Hit":
                            <span title="Helicopter Hit">&#128641;</span>
                            break;
                        case "Unknown":
                            <span title="Unknown">&#10067;</span>
                            break;
                        case "Suicide":
                            <span title="Suicide">&#128128;</span>
                            break;
                        case "Bleed":
                            <span title="Bled Out">&#129656;</span>
                            break;
                    }
                    @playerKilled.PlayerName
                </td>
                <td class="text-end">@playerKilled.KillCount</td>
                <td class="text-end">@playerKilled.KnockCount </td>
                <td class="text-end"><i>@playerKilled.KillCountOther</i></td>
                <td class="text-end"><i>@playerKilled.KnockCountOther</i></td>

            </tr>
        }
    }
</table>


<table class="table table-hover ">
    <thead class="thead-light">
        <tr>
            <th rowspan="2"><h1>Killed By</h1></th>
            <th colspan="2" class="text-center">Main Custom Matches</th>
            <th colspan="2" class="text-center">Other Matches</th>
        </tr>
        <tr>
            <th class="text-end">Kill Count</th>
            <th class="text-end">Knock Count</th>
            <th class="text-end"><i>Kill Count</i></th>
            <th class="text-end"><i>Knock Count</i></th>
        </tr>
    </thead>
    @if (Model.PlayerKilledBy == null)
    {
        <tr>
            <td colspan="5">No Data</td>
        </tr>
    }
    else
    {
        foreach (var playerKilled in Model.PlayerKilledBy)
        {
            <tr>
                <td>
                    @switch (playerKilled.PlayerName)
                    {
                        case "BOT":
                            <span title="Bot">&#129302;</span>
                            break;
                        case "Blue Zone":
                            <span title="Blue Zone">&#128309;</span>
                            break;
                        case "Red Zone":
                            <span title="Red Zone">&#128308;</span>
                            break;
                        case "Black Zone":
                            <span title="Black Zone">&#128995;</span>
                            break;
                        case "Bear":
                            <span title="Bear">&#128059;</span>
                            break;
                        case "Drowning":
                            <span title="Drowning">&#128705;</span>
                            break;
                        case "Jerry Can":
                            <span title="Jerry Can">&#9981;</span>

                            break;
                        case "Helicopter Hit":
                            <span title="Helicopter Hit">&#128641;</span>
                            break;
                        case "Unknown":
                            <span title="Unknown">&#10067;</span>
                            break;
                        case "Suicide":
                            <span title="Suicide">&#128128;</span>
                            break;
                        case "Bleed":
                            <span title="Bled Out">&#129656;</span>
                            break;
                    }
                    @playerKilled.PlayerName
                </td>
                <td class="text-end">@playerKilled.KillCount</td>
                <td class="text-end">@playerKilled.KnockCount </td>
                <td class="text-end"><i>@playerKilled.KillCountOther</i></td>
                <td class="text-end"><i>@playerKilled.KnockCountOther</i></td>
            </tr>
        }
    }
</table>